{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block body_block %}
    <div class="jumbotron p-4">
      <div class="container">
        <h1 class="jumbotron-heading">Rango says...</h1>
          <div>
            <h2 class="h2">This is the about page.</h2>
              <h4 class="h4"><strong>{{newmessage}}</strong></h4>
              <br />
          </div>
      </div>
    </div>

    <div>
        <p>You have seen this page for {{visits}} day(s).</p>
    </div>

    <img src="{{MEDIA_URL}}cat.jpg"
    alt="Hooman Owner" />

    <br />
    
    <!-- <button class="btn btn-primary"
        onClick="alert('You clicked the button using inline JavaScript.');">
        Click Me - I run JavaScript
    </button>

    <button class="btn btn-primary" id="about-btn">
        Click Me - I'm JavaScript on Ice
    </button>

    <br />
    <p>This text is for a JQuery Example</p>
    <br />
    <div id="msg">Hello - I'm here for a JQuery Example too</div> -->

{% endblock %}
