{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block body_block %}
    <h1>Rango says...</h1>

    <div>
        This is the about page. <br />
        <strong>{{newmessage}}</strong>
    </div>

    <div>
        <p>You have seen this page for {{visits}} day(s).</p>
    </div>

{% endblock %}

{% block image_block %}
    <img src="{{MEDIA_URL}}cat.jpg"
    alt="Hooman Owner" />
{% endblock %}


<!-- The code that follows is the previous code before doing template inheritance

<!DOCTYPE html>
<html>

    <head>

        <title>About</title>

    </head>

    <body>

      <h1>Rango says...</h1>

      <div>
          This is the about page. <br />
          <strong>{{newmessage}}</strong>
      </div>

      <div>
          <a href="/rango/">Index</a><br />

          <img src="{{MEDIA_URL}}cat.jpg"
                alt="Hooman Owner" />
      </div>

    </body>

</html>

-->
