{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {{ category.name }}
{% endblock %}

{% block body_block %}
    {% if category %}
        <div class="jumbotron p-2">
          <div class="container">
            <h1 class="jumbotron-heading">{{ category.name }}</h1>
          </div>
        </div>

        {% if pages %}
            <ul>
            {% for page in pages %}
                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
            {% endfor %}
            </ul>

        {% else %}
            <strong>No pages currently in category.</strong>
        {% endif %}
        <a href="{% url 'rango:add_page' category.slug %}">Add a Page</a>

    {% else %}
        The specified category does not exist!

    {% endif %}
{% endblock %}


<!-- The code that follows is the previous code before doing template inheritance

<!DOCTYPE html>
<html>
<head>
    <title>Rango</title>
</head>

<body>
    <div>
    {% if category %}
        <h1>{{category.name}}</h1>
        {% if pages %}
            <ul>
            {% for page in pages %}
                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <strong>No pages currently in category.</strong>
        {% endif %}
    {% else %}
        The specified category does not exist!
    {% endif %}
    </div>

    <div>
      <a href="/rango/category/{{category.slug}}/add_page">Add a Page</a><br />
      <a href="/rango/">Return to Index</a>
    </div>
</body>

-->
