{% extends 'rango/base.html' %}
{%load staticfiles %}


{% block body_block %}
    <div class="container-fluid">
    <div class="row justify-content-center">
    <div class="media">
          <div class="d-none d-lg-block">
          {% if picture %}
              <img class="img-fluid align-self-center mr-3"
                  src="{{ picture }}"
                  width="224"
                  height="224"
                  alt="{{selecteduser.username}}" />
          {% else %}
              <img class="img-fluid align-self-center mr-3"
                  width="190"
                  src="{% static "images/morgan.jpeg" %}" />
          {% endif %}
          </div>
      <div class="media-body">
          <h1 class="mt-4">Rango says...</h1>
          <h4 class="h4"> Howdy {{ user.username }}! Hey there partner! </h4>
          <h4 class="h4">{{ boldmessage }}</h4>
      </div>
          <div class="d-none d-md-block">
          <img class="img-fluid align-self-center ml-3"
                height="224"
                width="224"
                src="{% static "images/rango.jpg" %}" alt="Rango" />
          </div>
    </div>
    </div>
    </div>


    <div class="container">
    <div class="row">

    <div class="col-md-6 col-lg-4 mt-3">
    <div class="card mb-6">
    <div class="card-body bg-info">
            <h3>Most Liked Categories</h3>
      <p class="card-text">
            {% if categories %}
            <ul class="list-group">
                {% for category in categories %}
                    <li class="list-group-item">
                      <button class"btn-seconday">
                        <a href="{% url 'rango:show_category' category.slug %}">{{category.name}}</a>
                      </button>
                    </li>
                {% endfor %}
            </ul>
            {% else %}
                <strong>There are no categories present.</strong>
            {% endif %}
      </p>
    </div>
    </div>
    </div>

    <div class="col-md-6 col-lg-4 mt-3">
    <div class="card mb-6">
    <div class="card-body bg-info">
            <h3>Most Viewed Pages</h3>
      <p class="card-text">
            {% if pages %}
            <ul class="list-group">
                {% for page in pages %}
                    <li class="list-group-item">
                        <button class"btn-seconday" id="pvisit">
                          <a href="{{ page.url }}">{{ page.title }}</a>
                        </button>
                    </li>
                {% endfor %}
            </ul>
            {% else %}
                <strong>There are no pages present.</strong>
            {% endif %}
      </p>
    </div>
    </div>
    </div>

    <div class="col-md-6 col-lg-4 mt-3">
    <div class="card mb-6">
    <div class="card-body">
            <img class="img-fluid align-self-center"
                src="{% static "images/giphy.gif" %}"
                alt="Tango?" />
    </div>
    </div>
    </div>

    </div>
    </div>

<hr>
{% endblock %}
